<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="schunk_egp40">

    <xacro:include filename="$(find schunk_egp40_description)/urdf/schunk_egp40.xacro" />

    <link name="world" />

    <xacro:schunk_egp40 name="gripper" prefix="" parent="world">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:schunk_egp40>

</robot>